.layout {
    display: flex;
    height: 100vh;
}

/* ENTER */
.slide-in-left {
    animation: slideInLeft 500ms ease-out forwards;
}

/* LEAVE */
.slide-out-left {
    animation: slideOutLeft 500ms ease-in forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0.8;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0.8;
    }

}



/* ENTER */
.slide-in-right {
    animation: slideInRight 500ms ease-out forwards;
}

/* LEAVE */
.slide-out-right {
    animation: slideOutRight 500ms ease-in forwards;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0.8;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0%);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0.8;
    }
}