.main-layout {
  display: flex;
}

.products {
  width: 72%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.product-card {
  width: 24%;
  background-color: rgba(206,106,6,0.2);
  border-radius: 5px;
  box-shadow: 0 6px 20px rgba(206,106,6,0.6);
  text-align: center;
  margin-bottom: 80px;
}

.video-load img {
  width: 100%;
  cursor: pointer;
}

.video-panel {
  width: 28%;
}

.video-container iframe {
  width: 100%;
  min-height: 600px;
}
